# Precompilered Header File
*.pch
*.gch

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Complied Dependencies files
*.d

# Executable Target File
obfs
a.out

# Swap file of vim 
*.swp

# pack
*.zip
*.rar
*.tar
*.bz
*.gz

# test file
@*
_X*

# config file for vim auto-complete plugins
.ycm_extra_conf.pyc
.ycm_extra_conf.py
.clang_complete
